<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{300}}
	AW__ATTRIBUTE{{title}}{{Организм и среда обитания}}
-->

<h1>Организм и среда обитания</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00300/nioqyyqg.jpg"><img src="./../../../source/image/00300/nioqyyqg.jpg" width='560' height='262.15'></a></div></div>

<div class="text notable" data-note-type="text">
<strong>Среда обитания</strong>&nbsp;— это часть природы, которая окружает живые организмы и влияет на них. Организмы получают из среды всё необходимое для жизни и выделяют в нее продукты обмена веществ.
На нашей планете существует четыре основные среды обитания: водная, наземно-воздушная, почвенная, а также тело другого организма, внутри которого живут  организмы-паразиты.
</div>
</body></html>