<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{308}}
	AW__ATTRIBUTE{{title}}{{Жизнь в Мировом океане}}
-->

<h1>Жизнь в Мировом океане</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00308/drifters_jellyfish.jpg"><img src="./../../../source/image/00308/drifters_jellyfish.jpg" width='560' height='196.946182728'></a></div></div>

<div class="text notable" data-note-type="text">
Мировой океан занимает около &#190; поверхности Земли и заселён живыми организмами от поверхности до самого дна. Однако жизнь в океане распределена неравномерно: наиболее плотно заселены хорошо освещаемые и прогреваемые воды на глубине до 200 м.
</div>
</body></html>