* {
	margin: 0;
	padding: 0;
}

body, html {
	overflow:hidden;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

canvas{
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	outline: none;
    /*-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
    -webkit-tap-highlight-color: transparent;
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    margin:0;
    padding:0;
}

body {
    overflow:hidden;
    /*background-color: #C0C0C0;*/
}

#headerContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}


#slide {
    display: inline-block;
}

@media (orientation: landscape) {

    #slide {
        height: 100%;
        width: auto;
    }

}

@media (orientation: portrait) {
    #slide {
        height: auto;
        width: 100%;
    }
}