<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{233}}
	AW__ATTRIBUTE{{title}}{{Членистоногие}}
-->

<h1 class="pclass_1" >Членистоногие</h1>
<div class="text notable" data-note-type="text">
Членистоногие&nbsp;— самый богатый видами тип в царстве животных. Всего описано более 1 млн видов членистоногих. К этому типу относятся классы ракообразных, паукообразных и насекомых.
</div>



<div class="text notable" data-note-type="text">
<ul><li><strong>Ракообразные</strong>&nbsp;— это раки, крабы, креветки, омары, лангусты и др.&nbsp;— в основном, водные животные. Однако, известны и сухопутные ракообразные, например, мокрицы.</li></ul>
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/21.jpg"><img src="./../../../source/image/chleniston_00000233/21.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/22.jpg"><img src="./../../../source/image/chleniston_00000233/22.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/23.jpg"><img src="./../../../source/image/chleniston_00000233/23.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/24.jpg"><img src="./../../../source/image/chleniston_00000233/24.jpg" width='560' height='420'></a></div></div>



<div class="text notable" data-note-type="text">
<ul><li><strong>Паукообразные</strong>&nbsp;— преимущественно сухопутные членистоногие. Это пауки, сенокосцы, разнообразные клещи, скорпионы. У пауков 8 конечностей (ног).</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/11.jpg"><img src="./../../../source/image/chleniston_00000233/11.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/12.jpg"><img src="./../../../source/image/chleniston_00000233/12.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/13.jpg"><img src="./../../../source/image/chleniston_00000233/13.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/14.jpg"><img src="./../../../source/image/chleniston_00000233/14.jpg" width='560' height='420'></a></div></div>



<div class="text notable" data-note-type="text">
<ul><li><strong>Насекомые</strong>&nbsp;— самый многочисленный и разнообразный класс типа членистоногих. К насекомым относятся жуки, бабочки, клопы, кузнечики, стрекозы, тараканы, осы и пчёлы, тли и т. д. У насекомых 6 конечностей (ног), многие насекомые имеют одну или две пары крыльев.</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/31.jpg"><img src="./../../../source/image/chleniston_00000233/31.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/32.jpg"><img src="./../../../source/image/chleniston_00000233/32.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/33.jpg"><img src="./../../../source/image/chleniston_00000233/33.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/chleniston_00000233/34.jpg"><img src="./../../../source/image/chleniston_00000233/34.jpg" width='560' height='420'></a></div></div>
</body></html>