<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{310}}
	AW__ATTRIBUTE{{title}}{{Организм и среда. Обобщение знаний}}
-->

<h1>Организм и среда. Обобщение знаний</h1>
<div class="text notable" data-note-type="text">
Живые организмы на нашей планете освоили четыре среды обитания: наземно-воздушную, водную, почвенную и организменную и приспособились к условиям в этих средах.
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00310/lepus.jpg"><img src="./../../../source/image/00310/lepus.jpg" width='560' height='219.1'></a></div></div>

<div class="text notable" data-note-type="text">
Живые организмы и среда обитания неразрывно связанны между собой. Компоненты среды, которые оказывают воздействие на организмы, называют экологическими факторами. Это факторы неживой природы (свет, влажность, температура и др.), факторы живой природы и деятельность человека.
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00310/rassvet.jpg"><img src="./../../../source/image/00310/rassvet.jpg" width='560' height='211.071849234'></a></div></div>

<div class="text notable" data-note-type="text">
Живые организмы образуют природные сообщества, а они, в свою очередь, вместе с факторами неживой природы формируют экосистемы.
</div>

<pbr></pbr>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00310/tropical_rainforest.jpg"><img src="./../../../source/image/00310/tropical_rainforest.jpg" width='560' height='198.227272727'></a></div></div>

<div class="text notable" data-note-type="text">
В каждом сообществе обязательно присутствуют производители, потребители и разрушители.
</div>
</body></html>