@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
  /* font-size: 20px; */
  font-style: normal;
  /* margin-left: 20px; */
}.flaticon-arrow483:before {
	content: "\e000";
}
.flaticon-arrow487:before {
	content: "\e001";
}
.flaticon-arrowhead7:before {
	content: "\e002";
}
.flaticon-automatic1:before {
	content: "\e003";
}
.flaticon-automatic4:before {
	content: "\e004";
}
.flaticon-blank25:before {
	content: "\e005";
}
.flaticon-book126:before {
	content: "\e006";
}
.flaticon-book186:before {
	content: "\e007";
}
.flaticon-book60:before {
	content: "\e008";
}
.flaticon-bookmark10:before {
	content: "\e009";
}
.flaticon-bookmark31:before {
	content: "\e00a";
}
.flaticon-bookmark48:before {
	content: "\e00b";
}
.flaticon-bookmark7:before {
	content: "\e00c";
}
.flaticon-content:before {
	content: "\e00d";
}
.flaticon-document15:before {
	content: "\e00e";
}
.flaticon-document42:before {
	content: "\e00f";
}
.flaticon-document55:before {
	content: "\e010";
}
.flaticon-document68:before {
	content: "\e011";
}
.flaticon-document75:before {
	content: "\e012";
}
.flaticon-images22:before {
	content: "\e013";
}
.flaticon-list46:before {
	content: "\e014";
}
.flaticon-listing1:before {
	content: "\e015";
}
.flaticon-magnifying7:before {
	content: "\e016";
}
.flaticon-menu31:before {
	content: "\e017";
}
.flaticon-minus87:before {
	content: "\e018";
}
.flaticon-navigate6:before {
	content: "\e019";
}
.flaticon-note13:before {
	content: "\e01a";
}
.flaticon-note28:before {
	content: "\e01b";
}
.flaticon-note32:before {
	content: "\e01c";
}
.flaticon-note35:before {
	content: "\e01d";
}
.flaticon-numeral:before {
	content: "\e01e";
}
.flaticon-open163:before {
	content: "\e01f";
}
.flaticon-open34:before {
	content: "\e020";
}
.flaticon-open58:before {
	content: "\e021";
}
.flaticon-page35:before {
	content: "\e022";
}
.flaticon-plus72:before {
	content: "\e023";
}
.flaticon-search19:before {
	content: "\e024";
}
.flaticon-th:before {
	content: "\e025";
}
.flaticon-vertical4:before {
	content: "\e026";
}
.flaticon-view2:before {
	content: "\e027";
}
.flaticon-write19:before {
	content: "\e028";
}
