<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{299}}
	AW__ATTRIBUTE{{title}}{{Мир биологии. Обобщение знаний}}
-->

<h1>Мир биологии. Обобщение знаний</h1>
<div class="text notable" data-note-type="text">
Биология&nbsp;— наука о живой природе.
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00299/bugeye.jpg"><img src="./../../../source/image/00299/bugeye.jpg" width='560' height='198.8'></a></div></div>
<div class="text notable" data-note-type="text">
Она зародилась в глубокой древности. Огромный вклад в развитие биологии внесли Аристотель, Карл Линней, Чарлз Дарвин, Грегор Мендель, Владимир Иванович Вернадский.
</div>

<div class="text notable" data-note-type="text">
Живые существа имеют клеточное строение. Среди них есть как одноклеточные, так и многоклеточные организмы.
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00299/reprodphyscells2.jpg"><img src="./../../../source/image/00299/reprodphyscells2.jpg" width='560' height='162.4'></a></div></div>
<div class="text notable" data-note-type="text">
Одна из задач биологии&nbsp;— классификация организмов. Живую природу делят на царства бактерий, грибов, растений и животных.
</div>

<div class="text notable" data-note-type="text">
Важнейшее свойство живого&nbsp;— способность к размножению. У большинства организмов развитие нового организма начинается после слияния мужской и женской половых клеток. Через них потомству передаются признаки родителей.
</div>

<pbr></pbr>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00299/egg_biology-nest-plural-vignetting.jpg"><img src="./../../../source/image/00299/egg_biology-nest-plural-vignetting.jpg" width='560' height='176.585365854'></a></div></div>
<div class="text notable" data-note-type="text">
Все живые существа играют в природе определённую роль. Растения производят органическое вещество, животные его потребляют, а бактерии и грибы разрушают мёртвые останки.
</div>

<div class="text notable" data-note-type="text">
Одно из интереснейших направлений исследований&nbsp;— поведение животных. Их жизнь невозможна без общения друг с другом.
</div>

<div class="text notable" data-note-type="text">
Биология&nbsp;— основа сельского хозяйства и медицины.
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00299/image12.png"><img src="./../../../source/image/00299/image12.png" width='560' height='160.141509434'></a></div></div>
</body></html>