<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{226}}
	AW__ATTRIBUTE{{title}}{{Голосеменные}}
-->

<h1 class="pclass_1" >Голосеменные</h1>
<div class="text notable" data-note-type="text">
Голосеменные&nbsp;— один из отделов царства растений. Эти растения не имеют плодов, их семена открыто лежат под чешуйками шишек.
</div>



<div class="sub-paragraph notable" data-note-type="text">Голосеменные</div>




<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/golosemenn_00000226/1.jpeg"><img src="./../../../source/image/golosemenn_00000226/1.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/golosemenn_00000226/2.jpeg"><img src="./../../../source/image/golosemenn_00000226/2.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/golosemenn_00000226/3.jpeg"><img src="./../../../source/image/golosemenn_00000226/3.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/golosemenn_00000226/4.jpeg"><img src="./../../../source/image/golosemenn_00000226/4.jpeg" width='306.666666667' height='230'></a></div></div></div>

</body></html>