<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{235}}
	AW__ATTRIBUTE{{title}}{{Кольчатые черви}}
-->

<h1 class="pclass_1" >Кольчатые черви</h1>
<div class="text notable" data-note-type="text">
Кольчатые черви&nbsp;— один из типов царства животных. Тело кольчатых червей, как это видно из названия, состоит из отдельных сегментов&nbsp;— колец. К этому типу относится всем известный дождевой червь, а также обитатель пресных стоячих водоёмов&nbsp;— трубочник (излюбленное лакомство аквариумных рыб). Множество видов кольчатых червей обитают в морях и океанах, некоторые из них более похожи на прекрасные подводные цветы, чем на животных.
</div>


<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kolchatye__00000235/1.jpg"><img src="./../../../source/image/kolchatye__00000235/1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kolchatye__00000235/2.jpg"><img src="./../../../source/image/kolchatye__00000235/2.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kolchatye__00000235/3.jpg"><img src="./../../../source/image/kolchatye__00000235/3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kolchatye__00000235/4.jpg"><img src="./../../../source/image/kolchatye__00000235/4.jpg" width='560' height='420'></a></div></div>
</body></html>