<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{285}}
	AW__ATTRIBUTE{{title}}{{Как классифицируют организмы}}
-->

<h1>Как классифицируют организмы</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00285/par6.jpeg"><img src="./../../../source/image/00285/par6.jpeg" width='560' height='420'></a></div></div>
<div class="text notable" data-note-type="text">
Классификация организмов&nbsp;— это распределение их по группам. Основоположником современной системы классификации был шведский учёный Карл Линней.
-
Родственные виды объединяются в роды, роды&nbsp;— в семейства, семейства&nbsp;— в порядки (у растений) или отряды (у животных), порядки и отряды&nbsp;— в классы, классы&nbsp;— в отделы (у растений) или типы (у животных), отделы и типы&nbsp;— в царства. Всё это&nbsp;— единицы классификации.
</div>
</body></html>