<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{178}}
	AW__ATTRIBUTE{{title}}{{Алкоголь}}
-->

<!--
	AW__ATTRIBUTE{{mode}}{{fullscreen}}
-->



<object id="flashid" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%">
	<param name="movie" value="com/swf/fs_image.swf" />
	<param name="wmode" value="opaque" />
	<param name="allowScriptAccess" value="always" />
	<param name="FlashVars" value="id_disk=book_art05&src_image=data%2Falkogol_00000178%2Falkogol.jpeg&description=%C0%EB%EA%EE%E3%EE%EB%FC" />
	<!--[if !IE]>-->
	<object id="flashid" type="application/x-shockwave-flash" data="com/swf/fs_image.swf" width="100%" height="100%">
	 <param name="wmode" value="opaque" />
	 <param name="allowScriptAccess" value="always" />
	 <param name="FlashVars" value="id_disk=book_art05&src_image=data%2Falkogol_00000178%2Falkogol.jpeg&description=%C0%EB%EA%EE%E3%EE%EB%FC" />
	<!--<![endif]-->
	<div>
		<h1>Alternative content</h1>
		<p><a ><img  alt="Get Adobe Flash player" /></a></p>
	</div>
	<!--[if !IE]>-->
	</object>
	<!--<![endif]-->
</object>

</body></html>