<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{306}}
	AW__ATTRIBUTE{{title}}{{Экологические факторы: биотические и антропогенные}}
-->

<h1>Экологические факторы: биотические и антропогенные</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00306/fonds-animaux-1024.jpg"><img src="./../../../source/image/00306/fonds-animaux-1024.jpg" width='560' height='274.799608993'></a></div></div>

<div class="text notable" data-note-type="text">
К биотическим факторам относятся все виды взаимодействий между живыми организмами. Они могут быть отрицательными, положительными или нейтральными. Воздействия человека на природу называют антропогенными факторами.
</div>
</body></html>