<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{286}}
	AW__ATTRIBUTE{{title}}{{Живые царства. Бактерии}}
-->

<h1>Живые царства. Бактерии</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00286/par7.jpg"><img src="./../../../source/image/00286/par7.jpg" width='560' height='268.8'></a></div></div>

<div class="text notable" data-note-type="text">
В переводе с греческого языка слово «бактерия» означает «палочка». Однако  клетки бактерий по форме могут быть не только палочковидными, но и округлыми, извитыми, звёздчатыми, кубическими и т. д.
</div>

<div class="text notable" data-note-type="text">
Бактерии&nbsp;— самые древние организмы на Земле. Они обитают всюду: на дне и в воде озёр, рек, морей и океанов, в почве, на камнях, на корнях растений, в кишечнике животных и даже в воздухе. Некоторые бактерии «помогают» человеку приготовить из молока сметану и сыр, другие являются болезнетворными и вызывают дизентерию, скарлатину, чуму и др. заболевания.
</div>

<div class="text notable" data-note-type="text">
Бактерии&nbsp;— это  одноклеточные организмы, они могут жить поодиночке, а могут образовывать скопления&nbsp;— колонии. Клетка бактерий не имеет ядра.
</div>
</body></html>