<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- общие стили книги -->
    <link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css">
    <link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css">
    <link rel="stylesheet" href="./../../../core/style/_book.css">
    <link rel="stylesheet" href="./../../../core/style/_book_color.css">
    <link rel="stylesheet" href="./../../../core/style/_custom-book.css">
    <link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css">
    <script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script>
    <script src="./../../../core/static/js/jquery.fancybox.js"></script>
    <script src="./../../../core/scripts/fancyBoxInit.js"></script>
</head>
<body><!--
	AW__ATTRIBUTE{{id}}{{282}}
	AW__ATTRIBUTE{{title}}{{Что изучает биология}}
-->

<h1>Что изучает биология</h1>

<div class="image-block-wrapper">
    <div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00282/zoology.jpg"><img
            src="./../../../source/image/00282/zoology.jpg" width='560' height='211.2'></a></div>
</div>

<div class="text notable" data-note-type="text">
    Биология&nbsp;— это наука о живой природе. Биологи изучают разнообразие живых существ, строение их тел и работу
    органов, размножение и развитие организмов, их связи друг с другом и с неживой природой.
</div>

<div class="text notable" data-note-type="text">
    Кроме того, учёные-биологи исследуют влияние людей на природу и разрабатывают способы её охраны.
</div>

<div class="text notable" data-note-type="text">
    Таким образом, биология&nbsp;— это не просто наука, а целый комплекс наук и живой природе, включающий ботанику и
    зоологию, анатомию и физиологию, цитологию и генетику, и другие науки.
</div>
</body>
</html>