<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{223}}
	AW__ATTRIBUTE{{title}}{{Водоросли}}
-->

<h1 class="pclass_1" >Водоросли</h1>
<div class="text notable" data-note-type="text">
Водоросли&nbsp;— обширная группа царства растений. Водоросли встречаются не только в воде, но и на влажной почве.
</div>


<div class="paragraph notable" data-note-type="text">Водоросли</div>




<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/vodorosli__00000223/1.jpeg"><img src="./../../../source/image/vodorosli__00000223/1.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/vodorosli__00000223/2.jpeg"><img src="./../../../source/image/vodorosli__00000223/2.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/vodorosli__00000223/3.jpeg"><img src="./../../../source/image/vodorosli__00000223/3.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/vodorosli__00000223/4.jpeg"><img src="./../../../source/image/vodorosli__00000223/4.jpeg" width='306.666666667' height='230'></a></div></div></div>

</body></html>