<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{284}}
	AW__ATTRIBUTE{{title}}{{Экскурсия в мир клеток}}
-->

<h1>Экскурсия в мир клеток</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00284/hd.jpg"><img src="./../../../source/image/00284/hd.jpg" width='560' height='235.2'></a></div></div>

<div class="text notable" data-note-type="text">
Разнообразны живые существа нашей планеты, но всех их объединяет клеточное строение. Есть организмы, состоящие из одной клетки. Это одноклеточные организмы, такие как амёба или инфузория-туфелька. Но большинство живых существ состоят из множества клеток. Они составляют группу многоклеточных организмов.
</div>

<div class="text notable" data-note-type="text">
В составе многоклеточного организма множество разных клеток. Они отличаются по форме и размерам. Однако любая клетка имеет три главные части: оболочку, цитоплазму и ядро.
</div>
</body></html>