<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{193}}
	AW__ATTRIBUTE{{title}}{{Съедобные и несъедобные грибы}}
-->

<h1 class="pclass_1" >Съедобные и несъедобные грибы</h1>

<div class="sub-paragraph notable" data-note-type="text">Съедобные грибы</div>




<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/0.jpeg"><img src="./../../../source/image/sjedobnye__00000193/0.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/1.jpeg"><img src="./../../../source/image/sjedobnye__00000193/1.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/2.jpeg"><img src="./../../../source/image/sjedobnye__00000193/2.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/3.jpeg"><img src="./../../../source/image/sjedobnye__00000193/3.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/4.jpeg"><img src="./../../../source/image/sjedobnye__00000193/4.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/5.jpeg"><img src="./../../../source/image/sjedobnye__00000193/5.jpeg" width='306.666666667' height='230'></a></div></div></div>


<pbr></pbr>


<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/6.jpeg"><img src="./../../../source/image/sjedobnye__00000193/6.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/7.jpeg"><img src="./../../../source/image/sjedobnye__00000193/7.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/8.jpeg"><img src="./../../../source/image/sjedobnye__00000193/8.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/9.jpeg"><img src="./../../../source/image/sjedobnye__00000193/9.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/10.jpeg"><img src="./../../../source/image/sjedobnye__00000193/10.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/11.jpeg"><img src="./../../../source/image/sjedobnye__00000193/11.jpeg" width='306.666666667' height='230'></a></div></div></div>


<pbr></pbr>



<div class="sub-paragraph notable" data-note-type="text">Ядовитые грибы</div>




<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/21.jpeg"><img src="./../../../source/image/sjedobnye__00000193/21.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/22.jpeg"><img src="./../../../source/image/sjedobnye__00000193/22.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/23.jpeg"><img src="./../../../source/image/sjedobnye__00000193/23.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/sjedobnye__00000193/24.jpeg"><img src="./../../../source/image/sjedobnye__00000193/24.jpeg" width='306.666666667' height='230'></a></div></div></div>

</body></html>