.BookHtml5-right .BookHtml5-page-content .content-book-text 
{
  border-top: 40px solid rgba(106, 206, 196, 1);
  border-right: 40px solid rgba(106, 206, 196, 1);
}

.one-page-landscape .BookHtml5-right .content-book-text 
{
  background-color: white;
  border-left: 40px solid rgba(106, 206, 196, 1);
}

.BookHtml5-right .BookHtml5-page-number 
{
  background-color: rgba(220, 242, 242, 1);
  color: rgba(106, 206, 196, 1);
}

/* .one-page-landscape .BookHtml5-right  */
.chapter 
{
  background: url("../static/book/arrow_page_left.png") no-repeat scroll 16px 15px rgba(220, 242, 242, 1)!important;
  color: #fff!important;
}

.notice-block 
{
  border: 2px solid #aecf7e;
  background: url('../book/notice_block.jpg') no-repeat 8px 10px;
}

.image-block 
{
  border: 2px solid #aecf7e;
}

.BookHtml5-right .img-chapter 
{
  background: url('../book/img-chapter.jpg') no-repeat -472px 0px;
}

.lesson-logo.one 
{
  background: url("../book/spride_lessons.png") no-repeat;
}
.lesson-logo.two 
{
  background: url("../book/spride_lessons.png") no-repeat 0px -74px;
}
.lesson-logo.three 
{
  background: url("../book/spride_lessons.png") no-repeat 0px -148px;
}
.lesson-logo.four 
{
  background: url("../book/spride_lessons.png") no-repeat 0px -222px;
}
.lesson-logo.five 
{
  background: url("../book/spride_lessons.png") no-repeat 0px -296px;
}

.BookHtml5-left .BookHtml5-page-content .content-book-text 
{
  border-top: 40px solid rgba(106, 206, 196, 1);
  border-left: 40px solid rgba(106, 206, 196, 1);
}
.paragraph-text 
{
  border: 3px solid rgba(106, 206, 196, 1)!important;
  font-weight: normal;
  padding: 14px;
}

.one-page-portrait .BookHtml5-right .content-book-text {
border-left: 40px solid rgba(106, 206, 196, 1);
}

.one-page-landscape .BookHtml5-right .paragraph 
{
  margin-top: 0;
}

.one-page-landscape .paragraph-text-s
{
  margin-left: 48px;
  margin-right: 12px;
  font-size: 20px;
}

.one-page-portrait .paragraph-text-s
{
  margin-left: 48px;
  margin-right: 12px;
  font-size: 20px;
}

.two-page  .paragraph-text-s
{
  margin-left: 48px;
  margin-right: 12px;
  font-size: 16px;
}
.info-object
{
  overflow: hidden;
}

.two-page .lesson-title 
{
  width: 320px!important;
  overflow: hidden;
}
.one-page-landscape .BookHtml5-right .lesson-title 
{
  width: 800px!important;
  overflow: hidden;
}

.one-page-portrait .BookHtml5-right .lesson-title 
{
  width: 320px!important;
  overflow: hidden;
}

.lesson-content
{
  margin-left: 12px;
  margin-bottom: 12px;
}

.one-page-portrait .paragraph,
.two-page .paragraph
{
  padding-top: 18px;
  font-size: 18px;  
}

.one-page-portrait .lesson-title,
.two-page .lesson-title
{
  font-size: 14px;
  padding-top: 14px;
}

.info-object
{
  font-size: 14px!important;
  padding-top: 14px!important;
}

.blocks-lessons
{
  height: auto!important;
}
}

.image-block-wrapper {
 display: table;
 width: 1px;
 margin: 0px auto;
}

.image-block {
 width: auto !important;
 margin-bottom: 20px!important;
}

.image-block img {
 max-width: 600px;
 max-height: 250px;
}
.image-block span {
 margin-top: 5px;
 display: block;
}

.paragraph-text {
 margin-bottom: 20px!important;
 font-weight: normal!important;
}

.sub-paragraph {
 margin-top: 20px;
}

.paragraph-text::first-line,
.notice-block::first-line,
.sub-paragraph::first-line {
 font-weight: bold!important;
}


:not(.image-block-wrapper) .image-block
{
  display: table;
  width: 1px;
  margin: 0px auto; 
}
/*
.content-book-text
{
    box-sizing: padding-box;
    padding-left: 28px;
}

.content-book-text > *
{
    margin-left: -28px;
}

.chapter
{
    margin-left: -68px !important;
}
*/
.content-book-text
{
  font-size: 0.9em!important;  