/*@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

html,
body {
	overflow: hidden;
}
body,
html {
	height: 100%;
}
.BookHtml5 {
	color: #333;
}
.BookHtml5-page-content {
	background: white;
}
.BookHtml5-left .BookHtml5-gutter-shadow {
	background-image: url('../images/page_left_background.png');
	opacity: 0.5;
	width: 60px;
	display: none;
}
.BookHtml5-right .BookHtml5-gutter-shadow {
	background-image: url('../images/page_right_background.png');
	background-position: 0 0;
	width: 75px;
	display: none;
}
body {
	color: black;
	background: #ffffff url("../images/bbg.png");
	background-position: -35% top;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}
a,
a:active,
a:visited {
	text-decoration: none;
}
#container {
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	height: 100%;
	/* max-width: 1200px; */
	margin: auto;
}
h1,
h2 {
	font-size: 32px;
	font-weight: normal;
	font-family: 'News Cycle', sans-serif;
	text-shadow: 0 1px 0 rgba(10, 10, 10, 0.5);
	margin-top: 1em;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 24px;
	margin-bottom: 0.5em;
}
nav {
	height: 46px;
	left: 0;
	position: absolute;
	right: 0;
	bottom: 0px;
	z-index: 2147483647;
	zoom: 1;
	background-color: #d7d7d7;
}
nav li {
	background: #d7d7d7 no-repeat;
}
nav a {
	display: block;
	height: 46px;
	width: 48px;
	padding: 0;
	background: #d7d7d7 no-repeat;
	background-position: 8px 7px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
nav li .block-search {
	position: relative;
	width: 145px;
	height: 33px;
	margin: 8px 0 5px;
	background: url(../images/icons/search.png) no-repeat;
}
nav li .input {
	position: absolute;
	left: 5px;
	top: 3px;
	width: 87px;
	background: none;
	height: 26px;
	padding: 0 5px;
	border: none;
}
nav li .btn {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 38px;
	height: 27px;
	background: transparent;
	border: none;
}
nav #zoomin {
	background-image: url(../images/icons/zoom_in.png);
}
nav #zoomout {
	background-image: url(../images/icons/zoom_out.png);
}
/*
nav #first {
  background-image: url(../images/icons/arrow_double_left.png);
}
nav #last {
  background-image: url(../images/icons/arrow_double_right.png);
}
*/

nav #variant {
	width: 75px;
	background-image: url(../images/icons/variant-ico.png);
}
nav #variant-page {
	width: 75px;
	background-image: url(../images/icons/variant-ico-page.png);
}
nav #variant-landscape {
	width: 75px;
	background-image: url(../images/icons/variant-ico-landscape.png);
}
nav #next {
	background-image: url(../images/icons/arrow_right.png);
}
nav #back {
	background-image: url(../images/icons/arrow_left.png);
}
nav #next-page {
	background-image: url(../images/icons/arrow_right.png);
}
nav #back-page {
	background-image: url(../images/icons/arrow_left.png);
}
nav #slideshow {
	background-image: url(../images/icons/slideshow_play.png);
}
nav #slideshow.BookHtml5-disabled {
	background-image: url(../images/icons/slideshow_pause.png);
}
nav #flipsound {
	background-image: url(../images/icons/sound_on.png);
}
nav #flipsound.BookHtml5-disabled {
	background-image: url(../images/icons/sound_off.png);
}
nav #thumbs {
	background-image: url(../images/icons/thumbs.png);
}
nav #fullscreen {
	background-image: url(../images/icons/fullscreen_on.png);
}
nav #fullscreen.BookHtml5-disabled {
	background-image: url(../images/icons/fullscreen_off.png);
}
/*
nav a:hover {
  background-color: #2C2C2C;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
}
*/

nav a:active,
nav a:hover,
nav a {
	outline: none;
}
@media screen and (max-width: 568px),
screen and (max-height: 380px) {
	#container {
		padding-top: 20px;
		padding-bottom: 5px;
	}
	nav {
		margin: auto;
		top: 0px;
	}
	nav li {
		height: 32px;
	}
	nav li a {
		background-size: 50% 50%;
		height: 32px;
		width: 32px;
	}
	html {
		-webkit-text-size-adjust: none;
	}
	#click_to_open {
		display: none;
	}
}
.BookHtml5-page-content {
	~padding: 1em;
}
#main {
	position: relative;
  /* центирируем по вертикали */
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#click_to_open {
	position: absolute;
	left: 25%;
	margin-left: -180px;
	top: 50%;
	margin-top: -50px;
}
.js #features {
	margin-left: -12000px;
}
.BookHtml5-page {
	margin: auto;
}
.BookHtml5-page h1 {
	font-family: 'Arial';
	font-size: 24px;
	color: white;
	background: #aa2b2b;
	line-height: 1.5;
	padding: 5px 5px 0px;
	margin: 0;
}
.BookHtml5-page .subtitle {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 18px;
	color: black;
	line-height: 1.5;
	padding: 5px 5px 0px;
	font-style: italic;
}
/*
.BookHtml5-page p,
.BookHtml5-page ul {
  font-family: 'News Cycle', sans-serif;
  font-size: 12px;
  margin-top: 0.5em;
}
*/

.BookHtml5-page li {
	list-style: none;
}
#cover {
	/*background: #ffffff url("../book/img/cover.jpg") no-repeat;*/
	background-size: 100% 100%;
}
.feature {
	padding: 1em 1em;
	/* font-family: 'BebasNeueRegular', sans-serif; */
	height: 500px;
	width: 400px;
	background: white;
}
.feature h1,
.feature h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 38px;
	color: black;
}
/*
.BookHtml5-page .feature.pagefx p {
  font-size: 22px;
}
*/

.BookHtml5-page .feature.pagefx .subtitle {
	margin-top: 0;
	font-size: 18px;
}
.BookHtml5-page .feature.pagefx h1 {
	font-size: 48px;
	color: #aa2b2b;
	background: none;
	line-height: 0.7;
	padding: 5px 0px 0px;
	margin: 0;
}
.easy {
	background: #ffffff url("../images/easy.png") no-repeat left top;
	background-size: 200% 100%;
	zoom: 1;
	ffont-size: 1.5em;
	ffont-family: lato;
}
.easy h1,
.easy p,
.easy .subtitle {
	display: none;
}
.BookHtml5-right .easy {
	background-position: right top;
}
.design {
	background: #ffffff url("../images/design.png") no-repeat;
	background-size: 200% 100%;
}
.design h1 {
	background: none;
	text-indent: -10000px;
	color: #88bfbf;
	text-shadow: 1px 1px 0px #447f7f;
	font-size: 144px;
	line-height: 0.8;
	bborder-bottom: 2px solid #88bfbf;
}
.design .subtitle {
	font-family: 'News Cycle', sans-serif;
	font-style: normal;
	font-size: 30px;
	color: #333;
	position: absolute;
	top: 27%;
}
.BookHtml5-right .design {
	background-position: right top;
}
.BookHtml5-right .design p {
	text-align: right;
	position: absolute;
	bottom: 1.5em;
	font-size: 30px;
	padding-right: 1em;
}
.responsive pp {
	font-size: 16px;
}
.responsive hh2 {
	font-size: 20px;
}
.responsive h1 {
	color: white;
}
.thumbnails p {
	font-size: 16px;
}
.thumbnails h2 {
	font-size: 20px;
}
.thumbnails h1 {
	color: white;
}
#thumbs_holder {
	position: absolute;
	top: 50%;
	width: 100%;
	height: auto;
	left: 0;
	z-index: 10000;
}
#thumbs_holder .BookHtml5-thumbnails {
	background: none repeat scroll 0 0 #222;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border-top: 1px solid white;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid gray;
	border-bottom-color: rgba(64, 64, 64, 0.5);
	box-shadow: 0 0 20px #aa2b2b;
	padding: 10px 0;
	position: relative;
}
#thumbs_holder .BookHtml5-button {
	background-color: #AA2B2B;
}
.BookHtml5-thumbnails {
	background: none repeat scroll 0 0 #888;
	background: none repeat scroll 0 0 rgba(128, 128, 128, 0.48);
	border-top: 1px solid white;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid gray;
	border-bottom-color: rgba(64, 64, 64, 0.5);
	box-shadow: 0 0 15px rgba(128, 128, 128, 0.48);
}
.BookHtml5-horizontal.BookHtml5-thumbnails {
	padding-top: 10px;
	padding-bottom: 10px;
}
.BookHtml5-vertical .BookHtml5-thumbnail {
	margin-top: 5px;
	margin-bottom: 5px;
}
#thumbs_type,
#thumbs_position,
#thumbs_size {
	text-align: center;
}
#thumbs_position button {
	width: 49%;
}
#zoom-feature {
	background: #ffffff url("../images/zoom.jpg") no-repeat;
	background-size: 200% 100%;
}
#zoom-feature h1 {
	font-size: 100px;
	color: #333;
	background: none;
	line-height: 1.1;
	padding: 5px 0px 0px;
	text-align: right;
}
#zoom-feature2 {
	background-color: white;
	background-image: url("../images/zoom.jpg");
	background-size: 200% 100%;
	background-position: right top;
	background-repeat: no-repeat;
}
.deeplinking {
	color: white;
	background: url("../images/chain.jpg") no-repeat;
	background-size: 200% 100%;
}
.deeplinking h1 {
	color: white;
	background: #3d567d !important;
}
.deeplinking a,
.deeplinking a:active,
.deeplinking a:visited {
	color: #f8f8f8;
	text-decoration: underline;
}
.BookHtml5-right .deeplinking {
	background-position: top right;
}
.BookHtml5-page .feature.numbering {
	background: url("../images/numbering.png") #ffffff no-repeat;
	background-size: 100% 100%;
}
.BookHtml5-page .feature.numbering h1 {
	color: #AA2B2B;
	background: none;
	font-size: 40px;
	padding-left: 0;
	padding-right: 0;
}
.BookHtml5-page .feature.numbering p {
	font-size: 23px;
}
.BookHtml5-page .feature.numbering .BookHtml5-page-number {
	text-indent: 100%;
	overflow: hidden;
}
.BookHtml5-page .feature.slideshow h1 {
	color: #AA2B2B;
	background: none;
	font-size: 40px;
	padding-left: 0;
	padding-right: 0;
}
.BookHtml5-page .feature.slideshow a {
	display: block;
	text-align: center;
}
.BookHtml5-page .feature.flash {
	background: url("../images/flash.png") #ffffff no-repeat;
	background-size: 200% 100%;
	padding-top: 42%;
	/* 170px/400px */
}
.BookHtml5-page .feature.flash p {
	font-size: 20px;
	padding: 0.7em;
}
.BookHtml5-page .feature.flash h1 {
	display: none;
}
.feature.flash-demo {
	background: url("../images/flash.png") #ffffff no-repeat;
	background-position: top right;
	background-size: 200% 100%;
	padding-top: 25%;
	text-align: center;
	line-height: 2em;
	font-size: 1.2em;
}
.more {
	background: url("../images/more.png") #ffffff no-repeat;
	background-size: 200% 100%;
	padding-top: 30px;
}
.more h1 {
	display: none;
}
.more ul {
	margin-left: 1em;
}
.more li {
	margin-bottom: 0.7em;
}
.last_cover {
	padding: 0;
}
.BookHtml5-right .more {
	background-position: top right;
}
.content-book-text {
	position: absolute;
	width: 472px;
	height: 728px;
	top: 45px;
	left: 50px;
}
.BookHtml5-left .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-left: 40px solid #e3edd3;
}
.BookHtml5-right .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-right: 40px solid #e3edd3;
}
.BookHtml5-left .BookHtml5-page-content .content-book-text .chapter {
	width: 200px;
	height: 30px;
	background: url("../book/arrow_page_left.png") no-repeat #abd169 16px 15px;
	margin-top: -25px;
	margin-left: -40px;
	color: #fff;
	font-size: 26px;
	padding: 10px 0px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.img-chapter 
{
	overflow: hidden;
	margin-top: -25px;
	height: 25px;
	position: relative;
	z-index: 1;
}
.paragraph {
	font-size: 24px;
	font-weight: bold;
	background: url("../book/paragraph.png") no-repeat;
	height: 55px;
	margin-top: -5px;
	padding-left: 36px;
	padding-top: 10px;
}
.paragraph-text {
	margin-left: 35px;
	margin-right: 70px;
	font-size: 14.5px;
	font-weight: bold;
}
.info-object {
	font-size: 24px;
	font-weight: bold;
	background: url("../book/info-block.jpg") no-repeat;
	height: 32px;
	padding: 7px 11px;
	margin: 30px 0px 25px 0px;
	width: 440px;
}
.info-object-text {
	margin-left: 15px;
	margin-right: 80px;
	font-size: 14.5px;
}
.notice-block {
	border: 2px solid #aecf7e;
	width: 310px;
	min-height: 95px;
	margin: 20px 0px 20px 10px;
	/*background: url('../book/notice_block.jpg') no-repeat 8px 10px;*/
	font-size: 14.5px;
	padding-left: 138px;
	padding-top: 16px;
}
.notice-block-text {
	font-size: 14.5px;
	font-style: italic;
	margin-left: 50px;
	margin-right: 70px;
}
.image-block {
	border: 2px solid #aecf7e;
	padding: 15px 15px 5px 15px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	width: 380px;
}
.image-block span {
	margin-left: -10px;
}
.blocks-lessons {
	width: 455px;
	height: 685px;
	margin-top: 10px;
	margin-left: 4px;
	border-right: 1px solid #b4d67a;
	border-left: 1px solid #b4d67a;
	border-bottom: 1px solid #b4d67a;
	-moz-border-radius: 28px;
	-o-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
}
.blocks-lessons .lesson {
	background: url("../book/block_lesson.png") no-repeat;
	height: 74px;
	~width: 100%;
	overflow: hidden;
	border-left: 1px solid #c2db9f;
	border-right: 1px solid #c2db9f;
	border-bottom: 1px solid #c2db9f;
	-moz-border-radius: 28px;
	-o-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	transition: all 0.3s;
}
.lesson.active {
	height: 100%;
}
.lesson-title {
	float: left;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	width: 328px;
}
.lesson-logo {
	width: 75px;
	height: 74px;
	float: right;
	padding-right: 30px;
	z-index: 1;
	position: relative;
}
.lesson-logo.one {
	background: url("../book/spride_lessons.png") no-repeat;
}
.lesson-logo.two {
	background: url("../book/spride_lessons.png") no-repeat 0px -74px;
}
.lesson-logo.three {
	background: url("../book/spride_lessons.png") no-repeat 0px -148px;
}
.lesson-logo.four {
	background: url("../book/spride_lessons.png") no-repeat 0px -222px;
}
.lesson-logo.five {
	background: url("../book/spride_lessons.png") no-repeat 0px -296px;
}
.arrow_down_lesson {
	width: 17px;
	height: 9px;
	background: url("../book/arrow_down_lesson.png") no-repeat;
	position: relative;
	top: 58px;
	left: 219px;
	~cursor: hand;
	~cursor: pointer;
}
.arrow_down_lesson_practical {
	width: 17px;
	height: 9px;
	background: url("../book/arrow_down_lesson.png") no-repeat;
	position: relative;
	top: 58px;
	left: 210px;
	~cursor: hand;
	~cursor: pointer;
}
.lesson-content {
	position: relative;
	margin-top: 50px;
	height: 100%;
	width: 455px;
	transition: all 0.3s;
}
.lesson-content .mCustomScrollBox {
	width: 455px!important;
}
.lesson-content .title {
	font-size: 14px;
	margin-left: 28px;
}
.list-answers {
	margin-top: 10px;
}
.list-answers-block {
	overflow: hidden;
	/*margin-left: 34px;*/
	margin-bottom: 5px;
}
.list-answers-block .science,
.list-answers-block .answer {
	float: left;
	font-size: 14px;
	border: 1px solid #c1dc92;
	text-align: center;
	padding: 9px 0px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.list-answers-block .science {
	margin-right: 50px;
	margin-left: 34px;
	width: 103px;
}
.list-answers-block .answer {
	background-color: #f9ffef;
	width: 228px;
}
.back-img {
	background: url("../book/image2.jpg") no-repeat;
	height: 25px;
	position: relative;
	z-index: 1;
	margin-top: -25px;
}
.BookHtml5-right .back-img {
	background-position: -472px 0px;
	height: 25px;
	position: relative;
	z-index: 1;
	margin-top: 0px;
}
.BookHtml5-right .img-chapter 
{
	background: url('../book/img-chapter.jpg') no-repeat -472px 0px;
	height: 25px;
	margin-top: 0px;
}
.hide {
	/* display: none; */
	height: 0!important;
	overflow: hidden!important;
	border: none!important;
}
.arrow_down_lesson_remove {
	display: none;
}
nav #bookmarks select {
	float: left;
	width: 90px;
	height: 32px;
	background: transparent;
	border: none;
}
nav #bookmarks {
	overflow: hidden;
	margin-top: 8px;
	width: 135px;
	height: 38px;
	background: url(../images/icons/select.jpg) no-repeat;
}
nav #bookmarks .btn-bookmarks {
	float: right;
	display: block;
	width: 45px;
	height: 45px;
	cursor: pointer;
}
.highlight {
	background-color: #fff34d;
	-moz-border-radius: 5px;
	/* FF1+ */
	-webkit-border-radius: 5px;
	/* Saf3-4 */
	border-radius: 5px;
	/* Opera 10.5, IE 9, Saf5, Chrome */
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
	/* FF3.5+ */
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
	/* Saf3.0+, Chrome */
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
	/* Opera 10.5+, IE 9.0 */
}
.highlight {
	padding: 1px 4px;
	margin: 0 -4px;
}
~.one-page {} ~.one-page .content-book-text {
	border-left: 40px solid #e3edd3;
}
~.one-page .BookHtml5-page-content {
	width: 575px!important;
	height: 900px!important
}
img {
	transition: none;
}
