<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{302}}
	AW__ATTRIBUTE{{title}}{{Между небом и землёй}}
-->

<h1>Между небом и землёй</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00302/river.jpg"><img src="./../../../source/image/00302/river.jpg" width='560' height='291.2'></a></div></div>

<div class="text notable" data-note-type="text">
Наземно-воздушная среда заселилась живыми организмами позже, чем водная. Она отличается большим разнообразием условий. В связи с этим организмы, обитающие на суше, имеют множество приспособлений, позволяющих им выдерживать перепады температур, засуху, избыток или недостаток солнечного света.
</div>
</body></html>