<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{295}}
	AW__ATTRIBUTE{{title}}{{Биология и практика}}
-->

<h1>Биология и практика</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00295/image12.png"><img src="./../../../source/image/00295/image12.png" width='560' height='160.141509434'></a></div></div>

<div class="text notable" data-note-type="text">
Биология имеет огромное практическое значение. Эта наука&nbsp;— основа медицины и сельского хозяйства. Биологические знания нужны каждому человеку и в повседневной жизни.
</div>
</body></html>