<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{234}}
	AW__ATTRIBUTE{{title}}{{Кишечнополостные}}
-->

<h1 class="pclass_1" >Кишечнополостные</h1>
<div class="text notable" data-note-type="text">
Кишечнополостные&nbsp;— один из типов царства животных. К этому типу относятся морские коралловые полипы и медузы, а также мелкое животное из пресных водоёмов&nbsp;— гидра.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kishechnop_00000234/1.jpg"><img src="./../../../source/image/kishechnop_00000234/1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kishechnop_00000234/2.jpg"><img src="./../../../source/image/kishechnop_00000234/2.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kishechnop_00000234/3.jpg"><img src="./../../../source/image/kishechnop_00000234/3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/kishechnop_00000234/4.jpg"><img src="./../../../source/image/kishechnop_00000234/4.jpg" width='560' height='420'></a></div></div>
</body></html>