<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{215}}
	AW__ATTRIBUTE{{title}}{{Правила безопасности: сильный ветер, гроза, град}}
-->

<h1 class="pclass_1" >Правила безопасности: сильный ветер, гроза, град</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/pravila_be_00000215/silnyj_veter.jpg"><img src="./../../../source/image/pravila_be_00000215/silnyj_veter.jpg" width='560' height='420'></a></div></div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/pravila_be_00000215/groza.jpg"><img src="./../../../source/image/pravila_be_00000215/groza.jpg" width='560' height='420'></a></div></div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/pravila_be_00000215/grad.jpg"><img src="./../../../source/image/pravila_be_00000215/grad.jpg" width='560' height='420'></a></div></div>
</body></html>