<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{237}}
	AW__ATTRIBUTE{{title}}{{Иглокожие}}
-->

<h1 class="pclass_1" >Иглокожие</h1>
<div class="text notable" data-note-type="text">
Иглокожие&nbsp;— это тип животных, к которому относятся морские ежи, морские звёзды, морские лилии и морские огурцы (голотурии). Все иглокожие&nbsp;— это обитатели морей и океанов.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/iglokozhie_00000237/1.jpg"><img src="./../../../source/image/iglokozhie_00000237/1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/iglokozhie_00000237/2.jpg"><img src="./../../../source/image/iglokozhie_00000237/2.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/iglokozhie_00000237/3.jpg"><img src="./../../../source/image/iglokozhie_00000237/3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/iglokozhie_00000237/4.jpg"><img src="./../../../source/image/iglokozhie_00000237/4.jpg" width='560' height='420'></a></div></div>
</body></html>