.BookHtml5-left .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-left: 40px solid #e3edd3;
}
.BookHtml5-right .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-right: 40px solid #e3edd3;
}
.BookHtml5-page-content .content-book-text .chapter {
	background-image: url("../static/book/arrow_page_left.png");
	background-color: #abd169;
	color: #fff;
}
.BookHtml5-right .BookHtml5-page-number {
	background-color: #abd169;
	color: #6b8440;
}

.BookHtml5-left .BookHtml5-page-number {
top: 20px;
width: 38px;
height: 24px;
background-color: #ABD169;
color: #6B8440;
padding-top: 18px;
padding-left: 0px;
text-align: center;
font-size: 18px;
z-index: 2;
}

.BookHtml5-right .img-chapter {
	background-image: url('../static/book/img-chapter.jpg');
	background-position: -472px 0;
}
.back-img {
	background-image: url("../static/book/image2.jpg");
}
.BookHtml5-right .back-img {
	background-position: -472px 0;
}
