/*@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

html,
body {
	overflow: hidden;
}
body,
html {
	height: 100%;
}
.BookHtml5 {
	color: #333;
}
.BookHtml5-page-content {
	background: white;
}
.BookHtml5-left .BookHtml5-gutter-shadow {
	background-image: url('../static/images/page_left_background.png');
	opacity: 0.5;
	width: 60px;
	display: none;
}
.BookHtml5-right .BookHtml5-gutter-shadow {
	background-image: url('../static/images/page_right_background.png');
	background-position: 0 0;
	width: 75px;
	display: none;
}
body {
	color: black;
	background: #ffffff url('../static/images/bbg.png');
	background-position: -35% top;
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
}
a,
a:active,
a:visited {
	text-decoration: none;
}
#container {
	-webkit-box-sizing: border-box;
	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	height: 100%;
	/* max-width: 1200px; */
	margin: auto;
}
#main {
	position: relative;
  /* центирируем по вертикали */
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.BookHtml5-page {
	margin: auto;
}
.feature {
	padding: 1em 1em;
	height: 500px;
	width: 400px;
	background: white;
}
#thumbs_holder {
	position: absolute;
	top: 50%;
	width: 100%;
	height: auto;
	left: 0;
	z-index: 10000;
}
#thumbs_holder .BookHtml5-thumbnails {
	background: none repeat scroll 0 0 #222;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	border-top: 1px solid white;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid gray;
	border-bottom-color: rgba(64, 64, 64, 0.5);
	box-shadow: 0 0 20px #aa2b2b;
	padding: 10px 0;
	position: relative;
}
#thumbs_holder .BookHtml5-button {
	background-color: #AA2B2B;
}
.BookHtml5-thumbnails {
	background: none repeat scroll 0 0 #888;
	background: none repeat scroll 0 0 rgba(128, 128, 128, 0.48);
	border-top: 1px solid white;
	border-top-color: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid gray;
	border-bottom-color: rgba(64, 64, 64, 0.5);
	box-shadow: 0 0 15px rgba(128, 128, 128, 0.48);
}
.BookHtml5-horizontal.BookHtml5-thumbnails {
	padding-top: 10px;
	padding-bottom: 10px;
}
.BookHtml5-vertical .BookHtml5-thumbnail {
	margin-top: 5px;
	margin-bottom: 5px;
}
.content-book-text {
	position: absolute;
	width: 688px;
	height: 984px;
	top: 45px;
	left: 50px;
}
.BookHtml5-left .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-left: 40px solid #e3edd3;
}
.BookHtml5-right .BookHtml5-page-content .content-book-text {
	border-top: 40px solid #e3edd3;
	border-right: 40px solid #e3edd3;
}
.BookHtml5-left .BookHtml5-page-content .content-book-text .chapter {
	width: 200px;
	height: 30px;
	background: url("../static/book/arrow_page_left.png") no-repeat #abd169 16px 15px;
	margin-top: -25px;
	margin-left: -40px;
	color: #fff;
	font-size: 26px;
	padding: 10px 0px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.img-chapter {
	overflow: hidden;
	margin-top: -25px;
	height: 25px;
	position: relative;
	z-index: 1;
}

.content-book-text
{
	overflow-y: auto;
}