
.jspHorizontalBar,
.jspVerticalBar,
.jspTrack
{
	background: #FFFFFF;
}
.jspTrack{
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	/*border-left: 2px solid #97C25A;
	border-right: 2px solid #97C25A;
	border-bottom: 0px solid #97C25A;
	border-top: 0px solid #97C25A;
	margin-top: 0px;
	padding-top: 0px;*/
}

.jspVerticalBar
{
	width: 30px;
	border: 2px solid #97C25A;
	opacity: 0.7;
	right: 17px;
}

.jspVerticalBar:hover
{
	opacity: 1;
}

.jspDrag
{
	background: url('../static/images/scrollCircle.png') no-repeat;
	/*opacity: 0.5;*/
}

.jspTrack .jspActive,
.jspTrack .jspHover,
.jspDrag:hover
{
	background: url('../static/images/scrollCircle.png') no-repeat;
	/*opacity: 1;*/
}

.jspArrow
{
	background: url('../static/images/scrollArrow.png') no-repeat;
	margin-left: 6px;
}

/*.jspArrow.jspDisabled
{
	cursor: default;
	opacity: 0.5;
	background-color: #FFFFFF;
}*/

.jspVerticalBar>.jspActive,
.jspArrow:hover
{
	background-image: url('../static/images/scrollArrow.png');
}

/*.jspVerticalBar>.jspDisabled,
.jspVerticalBar>.jspDisabled:hover,
.jspHorizontalBar>.jspDisabled,
.jspHorizontalBar>.jspDisabled:hover
{
	background-color: #FFFFFF;
	background-image: url('../static/images/scrollArrow.png');
	opacity: 0.5;
}*/

.jspVerticalBar .jspArrow
{
	height: 7px;
}

.jspHorizontalBar .jspArrow
{
	width: 13px;
}

/*.jspArrow .jspArrowUp .jspDisabled{
	background-position: -13px 0 !important;
	opacity: 0.5;
	cursor: default;
}*/

.jspArrowUp
{
	background-position: -13px 0 !important;
	/*border-left: 2px solid #97C25A;
	border-right: 2px solid #97C25A;
	border-top: 2px solid #97C25A;
	border-bottom: 0px solid #97C25A;
	padding-bottom: 0px;
	margin-bottom: 0px;*/
}

.jspArrowDown
{
	background-position: 0 0;
	width: 13px;
	margin-left: 7px;
	/*border-left: 2px solid #97C25A;
	border-right: 2px solid #97C25A;
	border-bottom: 2px solid #97C25A;
	border-top: 0px solid #97C25A;
	padding-top: 0px;
	margin-top: 0px;*/
}

.jspArrow .jspArrowUp .jspArrowDown{
	background-position: -13px 0 !important;
	/*opacity: 0.5;*/
	cursor: default;
}

.jspArrowLeft
{
	background-position: -96px 0 !important;
}

.jspArrowRight
{
	background-position: -32px 0 !important;
}

.jspVerticalBar .jspCap
{
	height: 20px;
}

.jspCap
{
	display: block;	
}

.jspCapBottom{
	border-bottom: 2px solid #97C25A;
}

.jspVerticalBar .jspCap{
	margin-bottom: -2px;
}

.jspHorizontalBar .jspCap
{
	width: 50px;
	height: 100%;
}