/*
 * @name book
 * @author timaxphp
 * Date: 15,04, 23:05
 */

.BookHtml5 {
	position : relative;
	zoom: 1;
}
.BookHtml5-page	{
	zoom: 1;
}

.BookHtml5-page-content {
	position : absolute;
	overflow : hidden;
	zoom: 1;
}

/* marker class */
.BookHtml5-left{}
.BookHtml5-right{}
.BookHtml5-disabled{}

.BookHtml5-handle {
	cursor   : pointer;
	height   : 100%;
	position : absolute;
	top      : 0;
	width    : 50px;
	z-index  : 10000;
	/* without this Chrome will mess the zindex of hardcover when it flips, making
	   the cover to jump when the "curl page corner on hover" is enabled */
	/*-webkit-transform: translate3d(0px, 0px, 10000px);*/
}

.BookHtml5-handle.BookHtml5-disabled {
	display : none;
}

.BookHtml5-unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.BookHtml5-page-content.BookHtml5-double-page {
	padding: 0;
}

/* shadows */
.BookHtml5-shadow-clipper {
	position : absolute;
	overflow : hidden;
	z-index : 999; /* 1 a menos do que o verso da pagina sendo foldada */
	zoom: 1;
	-webkit-backface-visibility: hidden; /* eliminate jagged edges */
}

.BookHtml5-shadow-container {
	display  : none;
	position : absolute;
	z-index  : 999; /* 1 a menos do que o verso da pagina sendo foldada */
	zoom: 1;
}

.BookHtml5-shadow-internal {
	background : url(../static/book/shadow_internal_fold.png) repeat-y;
	height     : 500px;
	width      : 200px;
	position   : absolute;
	zoom: 1;
	-webkit-backface-visibility: hidden; /* eliminate jagged edges */
}

.BookHtml5-shadow-fold {
	background : url(../static/book/shadow_fold.png) right top repeat-y;
	height     : 500px;
	width      : 100px;
	position   : absolute;
	zoom       : 1;
	-webkit-backface-visibility: hidden; /* eliminate jagged edges */
}

.BookHtml5-shadow-fold-flipped  {
	background-image : url(../static/book/shadow_fold_flip_h.png);
}

.BookHtml5-fold-gradient {
	background : url(../static/book/fold_gradient.png) right top repeat-y;
	height : 500px;
	width : 125px;
	position : absolute;
	top : 0;
	zoom: 1;
	-webkit-backface-visibility: hidden; /* eliminate jagged edges */
}

.BookHtml5-fold-gradient-flipped {
	background-image :  url(../static/book/fold_gradient_flip_h.png);
}

.BookHtml5-fold-gradient-container {
	position : absolute;
	z-index  : 1001; /* 1 a mais que o verso da pagina sendo foldada */
}

.BookHtml5-gutter-shadow {
	height     : 100%;
	width      : 40px;
	position   : absolute;
	top        : 0;
}

.BookHtml5-left .BookHtml5-gutter-shadow {
	background : url(../static/book/gutter_shadow_left.png) right top repeat-y;
	right      : 0;
	width      : 70px;
}

.BookHtml5-right .BookHtml5-gutter-shadow {
	background : url(../static/book/gutter_shadow_right.png) right top repeat-y;
	left       : 0;
}

.BookHtml5-page-number {
	bottom   : 0;
	padding-bottom: 4px;
	position : absolute;
}

.BookHtml5-note {
	bottom   : 0;
	padding-bottom: 4px;
	position : absolute;
}

.BookHtml5-left .BookHtml5-page-number {
	left : 0;
	padding-left: 0.5em;

	top: 20px;
	width: 21px;
	height: 24px;
	background-color: #abd169;
	color: #6b8440;
	padding-top: 18px;
	padding-left: 20px;
	text-align: left;
	font-size: 18px;
	z-index: 2;
}

.BookHtml5-note ul {
	list-style: none;
	margin: 0;
}

.BookHtml5-left .BookHtml5-note {
	left : 0;
	top: 75px;
	z-index: 2;
}

.BookHtml5-right .BookHtml5-page-number {
	right: 1px;
	top: 20px;
	width: 38px;
	height: 24px;
	background-color: #ABD169;
	color: #6B8440;
	padding-top: 18px;
	text-align: right;
	font-size: 18px;
	z-index: 2;
	text-align: center;
}

.BookHtml5-right .BookHtml5-note {
	right: 0px;
	top: 75px;
	z-index: 2;
}



.BookHtml5-book-shadow{
	-moz-box-shadow: 0 0 7px #666;
	-ms-box-shadow: 0 0 7px #666;
	-webkit-box-shadow: 0 0 7px #666;
	-o-box-shadow: 0 0 7px #666;
	box-shadow: 0 0 7px #666; /* if you change this, change the .BookHtml5-hard-page-shadow too */
}

.BookHtml5-hard-page-shadow {
	background : #888;
	box-shadow: 0 0 2px 0px #666;
	background: rgba(96, 96, 96, 0.5);
	position   : absolute;
	top        : 0;
	z-index    : 999;
}

.BookHtml5-page-holded {
}
.BookHtml5-page-holded object {
	/* visibility: hidden; */
}


/* Thumbnails */
.BookHtml5-thumbnails {
	background: none;
	left: 0px;
	top: 0px;
  position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	image-rendering:optimizeQuality;
  z-index: 199;
}

.BookHtml5-thumbnails .BookHtml5-clipper {
	overflow: hidden;
	position: relative;
}

.BookHtml5-thumbnails ul {
    position: relative;
    margin : 0;
    padding : 0;
}

.BookHtml5-thumbnails .BookHtml5-button {
	background: none no-repeat 50% 50% #333;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 0;
}

.BookHtml5-thumbnail {
	cursor : pointer;
	display : inline-block;
	*display: inline; /* for IE7 */
	zoom: 1;	      /* for IE7 */
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

/* BUGFIX. IE8 apparently ignores background-position
   when zoom<>1 is applied and the element has position:absolute */
.BookHtml5-thumbnail .BookHtml5-page-content {
	position: relative;
}

.BookHtml5-thumbnail.BookHtml5-right {
	margin-right: 1em;
}

.BookHtml5-overlay {
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100000;
}

/* Thumbnails - horizontal */
.BookHtml5-horizontal.BookHtml5-thumbnails{
	width: 100%;
}

.BookHtml5-horizontal.BookHtml5-thumbnails .BookHtml5-clipper {
	height: 100%;
	position: relative;
	margin: 0 30px; /* margin is the width of the buttons */
}

.BookHtml5-horizontal.BookHtml5-thumbnails ul {
	display: inline-block;
	*display: inline; /* IE7 */
	*zoom: 1;         /* IE7 */
	white-space: nowrap;
}

.BookHtml5-horizontal.BookHtml5-thumbnails .BookHtml5-button {
	width: 30px;
	height: 100%;
	background-image: url("../static/book/arrow_left.png");
}

.BookHtml5-horizontal.BookHtml5-thumbnails .BookHtml5-next.BookHtml5-button {
	left: auto; right: 0;
	background-image: url("../static/book/arrow_right.png");
}

.BookHtml5-horizontal .BookHtml5-thumbnail {
	/* without this, the "nowrap" value set in the "ul" will
	   be inherited and (probably)	mess with your thumbnails */
	white-space: normal;
	/* BUT IE7 NEED THIS */
	*white-space: nowrap;
}
.BookHtml5-horizontal .BookHtml5-thumbnail .BookHtml5-page-content{
	/* AGAIN, IE7 NEED THIS */
	*white-space: normal;
}



/* Thumbnails - vertical */

.BookHtml5-vertical.BookHtml5-thumbnails {
	display: inline-block;
	height: 100%;
}

.BookHtml5-vertical.BookHtml5-thumbnails .BookHtml5-clipper {
	position: absolute;
	top: 30px; bottom: 30px; /* this value is the height of the buttons */
}

.BookHtml5-vertical.BookHtml5-thumbnails .BookHtml5-button {
	height: 30px;
	width: 100%;
	background-image: url("../static/book/arrow_up.png");
}

.BookHtml5-vertical.BookHtml5-thumbnails .BookHtml5-next.BookHtml5-button {
	bottom: 0; top: auto;
	background-image: url("../static/book/arrow_down.png");
}

.BookHtml5-vertical .BookHtml5-thumbnail.BookHtml5-right {
	margin-right: 0;
}
.BookHtml5-vertical .BookHtml5-thumbnail:first-child {
	margin-left: 50%;
}


/* books */
.bold-italic{font-weight: bold; font-style: italic;}
.dold{font-weight: bold;}
.uppercase{text-transform: uppercase;}
.italic{font-style: italic;}
.paragraph{}
.color-lightblue{color: #13b3f0;}
.welcome{
	font-size: 24px!important;
	font-style: italic;
	color: #13b3f0;
	margin-bottom: 20px;
}
.padd-left20{padding-left: 20px;}
.text-indent0{text-indent: 0px!important;}
.mr10{margin: 10px 0;}
.mr-top10{margin-top: 10px;}
.paragrapf{
	font-size: 22px;
	font-weight: bold;
	color: #000;
}
.paragrapf span{color: #13b3f0;}
.bg-blue{background-color: #d9f3fd;}
.center{text-align: center;}
.tasks{
	font-family: Arial!important;
	text-transform: uppercase;
	font-size: 13px!important;
	font-weight: bold;
	color: #13b3f0;
	margin-bottom: 10px;
}
.tasks span{
	padding: 0 0 2px 5px;
	border-left: 1px solid #13b3f0;
	border-bottom: 1px solid #13b3f0;
}
p.indent{margin-top: 5px;}

/* geography */
.geography{
	font-family: Tahoma, Arial, Verdana;
}
.geography p{
	font-family: tahoma;
	font-size: 15px;
	line-height: 19px;
	text-indent: 20px;
}
.geography li{
	font-size: 13px;
	line-height: 17px;
}
.geography.grade6 .introduction{
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	text-align: right;
	padding: 45px 40px 115px 0;
	color: #13b3f0;
	background: url(../static/book/img/page-flip.jpg) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 17px;
}
.geography .BookHtml5-page-content {
    /*background: #fff url(../static/book/img/bootom-pages.jpg) repeat-x left bottom;*/
}
