.one-page-landscape .BookHtml5-left .content-book-text > * {
	display: none;
}
.one-page-landscape .BookHtml5-right .BookHtml5-page-content {
	overflow: visible;
}
.one-page-landscape .BookHtml5-right .img-chapter {
	background-position: 0 0;
	width: 930px;
}
.one-page-landscape .BookHtml5-right .content-book-text {
	left: -462px;
	width: 944px;
	background-color: white;
	border-left: 40px solid #e3edd3;
	height: 728px;
}
.one-page-landscape .notice-block {
/*	margin-left: auto;
	margin-right: auto;*/
}
.one-page-landscape .image-block {
	width: 380px;
	margin-left: auto;
	margin-right: auto;
}
.one-page-landscape .blocks-lessons {
	padding: 0 10px;
}
.one-page-landscape .blocks-lessons.active {
/*	width: auto;*/
}
.one-page-landscape .lesson-title {
	width: 800px;
}
.one-page-landscape .arrow_down_lesson {
	left: 458px;
}
.one-page-landscape .lesson-content {
	margin-left: auto;
	margin-right: auto;
}
.one-page-landscape .BookHtml5-page {
	visibility: hidden;
}
.one-page-landscape .BookHtml5-page.active-page,
.one-page-landscape .BookHtml5-hardpage {
	visibility: visible;
}

.one-page-landscape .blocks-lessons .lesson 
{
	width: auto;
}

.one-page-landscape .chapter + .back-img {
	margin-top: -25px;
}
.one-page-landscape .back-img {
	background-position: 0 0;
}
.one-page-landscape .chapter + .img-chapter {
	margin-top: -25px;
	background: none;
}

.one-page-landscape .blocks-lessons .lesson-content
{
	height: 600px;
}