.one-page-portrait .BookHtml5-left .content-book-text > * {
	display: none;
}
.one-page-portrait .BookHtml5-page-content {
	overflow: visible;
}
/*  ^^^ .BookHtml5-right*/

.one-page-portrait .BookHtml5-right .img-chapter {
	background-position: 0 0;
}
.one-page-portrait .BookHtml5-right .chapter + .img-chapter {
	margin-top: -25px;
	background: none;
	width: 688px;
	height: 159px;
	overflow: hidden;
}
.one-page-portrait .content-book-text {
	position: relative;
	width: 688px;
	left: -334px;
	background-color: white;
	height: 994px;
}

.one-page-portrait .notice-block {
/*	margin-left: auto;
	margin-right: auto;*/
}

.one-page-portrait .BookHtml5-right .chapter {
	background: url("../static/book/arrow_page_left.png") no-repeat scroll 16px 15px #abd169;
	color: #fff;
	font-size: 26px;
	height: 30px;
	margin-left: -40px;
	margin-top: -25px;
	padding: 10px 0;
	position: relative;
	text-align: center;
	width: 200px;
	z-index: 2;
}

.one-page-portrait .BookHtml5-page {
	visibility: hidden;
}
.one-page-portrait .BookHtml5-page.active-page,
.one-page-portrait .BookHtml5-hardpage {
	visibility: visible;
}
.one-page-portrait .cover {
	position: relative;
	width: 200%;
	left: -50%;
}
.one-page-portrait .BookHtml5-right .chapter + .back-img {
	margin-top: -25px;
}
.one-page-portrait .BookHtml5-right .back-img {
	background-position: 0 0;
}
.one-page-portrait .content-book-text {
	border-left: 40px solid #e3edd3;
}
.one-page-portrait .BookHtml5-book-shadow {
	width: 100% !important;
	left: 0px !important;
}

.blocks-lessons .lesson-content,
.one-page-portrait .blocks-lessons .lesson-content
{
	height: 900px;
}