/* общие классы */
.cp-button
{
  /* reset */
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;  
  display: inline-block;
  height: 46px;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 1);
  line-height: 42px;
  font-size: 30px;
  color: #fff!important;
  text-align: center;
  transition: width 0.3s;
}

.cp-button.button-disabled{
    background-color: rgb(148, 146, 146);
}

.cp-button.cp-button-active
{
 /* background-color: pink; */
}

/* сжимаем кнопки что бы влезли в панель */
@media screen and (orientation: landscape) 
{
  .cp-button
  {
    width: 80px;
  }
}

@media screen and (orientation: portrait) 
{
  .cp-button
  {
    width: 50px;
  }
}

.cp-input
{
  /* reset */
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;

  height: 36px;
  padding: 5px 10px;
}

.cp-select
{
  display: inline-block;
  width: 80px;
  height: 46px;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 1);
  line-height: 42px;
  font-size: 30px;
  color: #fff!important;
  text-align: center;
  position: relative;
}

.cp-select-item
{
  display: inline-block;
  width: 80px;
  height: 46px;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 1);
  line-height: 42px;
  font-size: 30px;
  color: #fff!important;
  text-align: center;
}

.cp-select-item a
{
  color: #fff!important;
}

.cp-select-items
{
  position: absolute;
  left: 0;
  bottom: 46px;
  overflow: hidden;
  width: 80px;
  max-height: 0;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.cp-select-items.select-items-open
{
  height: auto;
  opacity: 1;
  max-height: 200px;
}

.cp-select .cp-select-selected
{
  color: #fff!important;
  display: none
}

.cp-select[data-selected-index="0"] .cp-select-selected[data-select-index="0"],
.cp-select[data-selected-index="1"] .cp-select-selected[data-select-index="1"],
.cp-select[data-selected-index="2"] .cp-select-selected[data-select-index="2"],
.cp-select[data-selected-index="3"] .cp-select-selected[data-select-index="3"],
.cp-select[data-selected-index="4"] .cp-select-selected[data-select-index="4"]
{
  display: inline-block;
}

.cp-select[data-selected-index="0"] .cp-select-item[data-select-index="0"],
.cp-select[data-selected-index="1"] .cp-select-item[data-select-index="1"],
.cp-select[data-selected-index="2"] .cp-select-item[data-select-index="2"],
.cp-select[data-selected-index="3"] .cp-select-item[data-select-index="3"],
.cp-select[data-selected-index="4"] .cp-select-item[data-select-index="4"]
{
  background-color: pink;
}

/* top bottom panels */
.cp-show-panel
{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
  opacity: 0.5;
}

#button-help
{
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
}

.cp-panel
{
	position: absolute;
	height: 46px;
	width: 100%;
	z-index: 700;
}

.cp-top-panel
{
	top: 0;
}

.cp-bottom-panel
{
  bottom: 0;
  height: auto;
}

.cp-search-input
{
  vertical-align: top;
  height: 30px;
  margin-top: 3px;
  font-size: 28px;
  width: 50%;
}

.cp-search-button
{
  height: 40px;
  margin-top: 3px;
  vertical-align: top;
  margin-left: -3px;
  position: relative;
}

#button-clear-search
{
  left: -115px;
  background: #fff;
  color: #333;
  width: 30px;
  height: 30px;
  margin-top: 7px;
}

#button-clear-search i 
{
  display: inline-block;
  color: rgba(204, 204, 204, 1);
  position: relative;
  top: -4px;
}

.search-page-number
{
  font-size: 18px;
  padding: 5px 15px;
}

.search-page-number:hover
{
  text-decoration: underline;
}

.cp-controls 
{
  /* overflow: hidden; */
  text-align: center;
	height: 46px;
  background: -moz-linear-gradient(top,  rgba(135,135,135,0.61) 0%, rgba(135,135,135,0.34) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,135,135,0.61)), color-stop(100%,rgba(135,135,135,0.34))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(135,135,135,0.61) 0%,rgba(135,135,135,0.34) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(135,135,135,0.61) 0%,rgba(135,135,135,0.34) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(135,135,135,0.61) 0%,rgba(135,135,135,0.34) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(135,135,135,0.61) 0%,rgba(135,135,135,0.34) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c878787', endColorstr='#57878787',GradientType=0 ); /* IE6-9 */
	padding: 0 100px;
	position: relative;
	bottom: 0;
  transition: all 0.3s;
}

.cp-controls ul, .cp-controls li { margin: 0; }

.cp-controls ul 
{
	list-style: none;
  padding: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #d5d5d5 #d2d2d2 #cdcdcd;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.cp-controls li 
{
    float: left;
    border-right: 2px solid #d2d2d2; 
}

.cp-controls li:first-child 
{
	border-left: 2px solid #d2d2d2; 
}

.cp-button-container 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 46px;*/
  text-align: center;
}

#button-prev, #button-next
{
	width: 80px;
	height: 46px;
	background-color: #ccc;
	position: fixed;
	z-index: 601;
	opacity: 0.2; 
  text-align: center;
  cursor: pointer;
  font-size: 36px;
  bottom: 0;
}

#button-prev a, #button-next a
{
  display: inline-block;
  width: 100%;
}

#button-prev 
{
	left:0;
  border-radius: 0px 10px 0px 0px;
}

#button-next 
{
	right:0;
  border-radius: 10px 0px 0px 0px;
}

#button-prev:active, #button-next:active
{

}

#top_panel .cp-controls
{
  display: none;
}

#top_panel .block-search {
	position: relative;
  float: right;
  margin-top: 2px;

}

#top_panel .block-search .btn 
{
	width: 50px;
}	

#top_panel #close-media-object 
{
	width: 170px;
}

#popup-page-number 
{
	padding: 20px;
	border-radius: 6px;
	background: #fff;
}

#popup-page-number #button-gotopage 
{
	margin-top: 8px;
	width: 100px;
}



/* aside панель */
/*
#contents_panel 
{
  position: absolute;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: #a6c5af;
  opacity: 0.0;
  padding: 46px 10px;
  z-index: 100;
}

#contents_panel #block-bookmarks ul 
{
  list-style: none;
}

#contents_panel #block-bookmarks li 
{
  position: relative;
}
*/

.cp-left-aside
{
  height: 100%;
  position: absolute;
  top: 0;
  left: -340px;
  width: 340px;
  height: 100%;
  opacity: 0.0;
  padding: 46px 0px;
  z-index: 600;
  box-sizing: border-box; 
}

.cp-aside-section
{
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  overflow: auto;
  box-sizing: border-box;
}

.cp-aside-section
{
  color: white;
}

.cp-aside-title
{
  text-align: center;
  font-size: 28px;
  padding: 5px;
  background-color: #FFF;
  color: #333;
}

.cp-aside-content
{

}

.cp-button-bookmark-add
{
  width: 100%;
}

.cp-aside-list ul
{
  list-style: none;
}

.cp-aside-list ul li
{
  padding: 10px 0;
  font-size: 20px;
}

.cp-aside-list ul li a,
.cp-aside-list ul li a:hover
{
  color: #eee;
}



.bookmark-item-remove
{
  font-size: 24px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.cp-aside-list-content ul,
.cp-aside-list-content ul ul
{
  margin: 0;
  list-style: none;
}

.cp-aside-list-content ul li,
.cp-aside-list-content ul ul li
{
}

.part-title:hover, .para-title:hover 
{
  text-decoration: underline;
}


.part-title, .para-title 
{
  cursor: pointer;
}

.part-title
{
  margin: 5px 5px 5px 10px;
  width: 270px;
  display: inline-block;
  font-weight: bold;
}

.para-title
{
  margin: 5px 5px 5px 20px ;
  width: 260px;
  display: inline-block;
}

.part-page-num,
.para-page-num
{
  display: inline-block;
  vertical-align: text-top;
}

.highlight
{
	background-color: #ff5e99;
}
