nav #page-selector select {
  float: left;
  width: 110px;
  height: 32px;
  background: transparent;
  border: none;
}
nav #page-selector {
  overflow: hidden;
  margin-top: 8px;
  width: 110px;
  height: 32px;
  background-color: #a8a8a8;
  border-radius: 5px;
}