#media-object {
  margin: auto;
  display: none;
  position: absolute;
  z-index: 999;
	background-color: white;
}

#close-media-object,
#show-audio-player,
#hide-audio-player {
  text-indent: initial;
  color: #333;
  border-radius: 5px;
  background-color: #888;
  width: auto;
  margin: 5px;
  height: 35px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 35px;
  text-shadow: none;
}

[data-type="media-object"] {
	cursor: pointer;
}


#player {
  top: 50px;
  right: 50px;
  z-index: 500;
  position: absolute;
  display: none;
}

#player .close {
  font-size: 24px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  background: rgb(53, 53, 53);
  width: 21px;
  height: 30px;
  display: inline-block;
  margin: 7px 0 0 5px;
  padding: 0 0 0 7px;
  border-radius: 6px;
  opacity: 0.95;
}
