body { -webkit-touch-callout: none !important; }

.BookHtml5-note{
	opacity: 0.9;
}

.BookHtml5-note ul{
	list-style: none;
	margin: 0;
}

.BookHtml5-note li{
	clear: both;
	margin: 0;
	position: relative;
	float: left;
	width: 40px;
	height: 50px;
}

#right-page-notes li
{
	
}

li.active-note , li.active-note 
{
	background: #dde0ac;
}

#left-page-notes {
	left: 0;
}

.note-container-right {
	right: 0;
}

.note-title {
	cursor: pointer;
}

.note {
	border: solid 1px #f35 !important;
}

.note-title {
	display: none;
	background: #dde0ac;
	width: 200px;
	height: 30px;
	position: relative;
	left: 40px;
	padding: 60px 0 10px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
}

.note-container-right li .note-title 
{
	left: auto;
	right: 200px;
}

li.active-note .note-title , li.active-note .note-title 
{
	display: block;
	background: #dde0ac;
}

.notable {
	/*-webkit-user-select: none;*/
}


/* Popup */
#popup-note #popup-note-title 
{
	margin-bottom: 5px;
	margin-top: 0px;
}

#popup-note [name="note-title-text"]
{
	width: 400px;
	height: 100px;
	display: block;
	margin-bottom: 10px;
	border: 1px solid;
	color: #444;
}

#popup-note #popup-note-page-number
{
	padding-bottom: 5px;
	padding-left: 25px;
}

#popup-note #popup-note-page-number span
{
	width: 30px;
	display: inline-block;
	text-align: center;
}

#popup-note #popup-note-page-number [name="note-page-number"]
{
	padding: 0 5px;
	margin-right: 6px;
}

/* note controll */
li [data-action="remove-note"], li [data-action="show-note"], li [data-action="edit-note"], li [data-action="view-note"] {
	font-size: 40px;
	float: right;
	cursor: pointer;
	top: 2px;
	position: absolute;
	margin-left: -10px;
}

li [data-action="remove-note"], li [data-action="edit-note"], li [data-action="view-note"]{
	font-size: 30px;
}

li [data-action="remove-note"], li [data-action="edit-note"], li [data-action="view-note"]
{
	display: none;
}

.note-container-left li.active-note [data-action="edit-note"]
{
	left: 190px;
}

.note-container-left li.active-note [data-action="remove-note"] 
{
	left: 230px;
}

.note-container-left li.active-note [data-action="view-note"] 
{
	left: 140px;
}

li.active-note [data-action="remove-note"], li.active-note [data-action="edit-note"], li.active-note [data-action="view-note"]
{
	display: block;
}

.note-container-right [data-action="edit-note"]
{
	left: auto;
	right: 75px;
}

.note-container-right [data-action="view-note"]
{
	left: auto;
	right: 115px;
}

.note-container-right [data-action="remove-note"]
{
	left: auto;
	right: 50px;
}

#popup-note-content
{
	width: 400px;
	height: 200px;
	display: block;
	margin-bottom: 10px;
	border: 1px solid;
	color: #444;
	overflow: auto;
}