li.BookHtml5-thumbnail:first-child {
	margin-left: 15px;
}
li.BookHtml5-thumbnail:last-child {
	margin-right: 15px;
}

/* LANDSCAPE */

.one-page-landscape li.BookHtml5-thumbnail.BookHtml5-right {
	overflow: visible;
	margin-right: 15px;
}
.one-page-landscape li.BookHtml5-thumbnail .BookHtml5-right {
	visibility: visible;
}
/* last cover margin */
.one-page-landscape li.BookHtml5-thumbnail:last-child {
	margin-left: 0;
}
/* растягиваем оверлей в 2 раза для всех страниц, кроме обложек */
.one-page-landscape li:not(:last-child):not(:first-child) > .BookHtml5-overlay {
	width: 200%;
	left: -100%;
}

/* PORTRAIT */

.one-page-portrait li.BookHtml5-thumbnail.BookHtml5-right {
	overflow: visible;
	margin-right: 15px;
}
.one-page-portrait li.BookHtml5-thumbnail .BookHtml5-right {
	visibility: visible;
}
/* first cover */
.one-page-portrait li.BookHtml5-thumbnail:first-child {
	margin-left: 50px;
	margin-right: 50px;
}
/* last cover */
.one-page-portrait li.BookHtml5-thumbnail:last-child {
	margin-left: 40px;
	margin-right: 50px;
	overflow: visible;
}
/* непонятный глюк с div.pages_html.main_theme в одностраничном режиме
   когда вместо размера 0х0 он не нулевой */
.one-page-portrait .BookHtml5-thumbnail .pages_html.main_theme {
	width: 0;
	height: 0;
}
/* overlay settings */
.one-page-portrait .BookHtml5-overlay {
	width: 200%;
	left: -100%;
}
/* first and last cover overlay settings */
.one-page-portrait li.BookHtml5-thumbnail:first-child > .BookHtml5-overlay,
.one-page-portrait li.BookHtml5-thumbnail:last-child > .BookHtml5-overlay {
	left: -50%;
}

#thumbnailsContainer 
{
	position: absolute;
	right: 0;
	width: 100%;
}
