<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{303}}
	AW__ATTRIBUTE{{title}}{{Кто в почве живёт}}
-->

<h1>Кто в почве живёт</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00303/stigmatogaster_subterraneus.jpg"><img src="./../../../source/image/00303/stigmatogaster_subterraneus.jpg" width='560' height='232'></a></div></div>

<div class="text notable" data-note-type="text">
Почвенная среда обитания отличается повышенной плотностью, что заметно ограничивает скорость передвижения в ней организмов. Разнообразие обитателей почвы зависит от её свойств (температуры, увлажнённости, количества кислорода и минерального состава).
</div>
</body></html>