<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{238}}
	AW__ATTRIBUTE{{title}}{{Хордовые}}
-->

<h1 class="pclass_1" >Хордовые</h1>
<div class="text notable" data-note-type="text">
Хордовые&nbsp;— наиболее сложно устроенные животные. У всех представителей этого типа есть внутренний скелет. У большинства хордовых роль осевого внутреннего скелета играет позвоночник. И лишь самые примитивные хордовые (например, ланцетник) не имеют позвоночника, у них функцию осевого скелета выполняет хорда, или спинная струна,&nbsp;— эластичный прочный тяж, идущий вдоль спинного мозга. У остальных хордовых спинная струна развита лишь в зародышевом состоянии, а у взрослых организмов она заменяется позвоночником.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/0.jpg"><img src="./../../../source/image/xordovye_s_00000238/0.jpg" width='560' height='166.6'></a><span><a href="~o=0a054" class="picture_box_zoom"><div class="awi__interactive_button"></div></a>Так выглядит примитивное хордовое&nbsp;— ланцетник</span></div></div>



<div class="text notable" data-note-type="text">
В типе хордовых выделяют несколько классов.
</div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Хрящевые рыбы</strong>&nbsp;— акулы и скаты.</li></ul>
</div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/1.jpg"><img src="./../../../source/image/xordovye_s_00000238/1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/2.jpg"><img src="./../../../source/image/xordovye_s_00000238/2.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/3.jpg"><img src="./../../../source/image/xordovye_s_00000238/3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/4.jpg"><img src="./../../../source/image/xordovye_s_00000238/4.jpg" width='560' height='420'></a></div></div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Костные рыбы</strong>. К этому классу относятся все остальные рыбы, кроме акул и скатов. Это и скромная треска, и прожорливая мурена, похожая на змею, и яркие рыбы кораллового рифа, и аквариумные рыбки...</li></ul>
</div>


<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/11.jpg"><img src="./../../../source/image/xordovye_s_00000238/11.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/12.jpg"><img src="./../../../source/image/xordovye_s_00000238/12.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/13.jpg"><img src="./../../../source/image/xordovye_s_00000238/13.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/14.jpg"><img src="./../../../source/image/xordovye_s_00000238/14.jpg" width='560' height='420'></a></div></div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Земноводные</strong>&nbsp;— это тритоны, жабы и лягушки, а также похожие на них квакши, чесночницы, жерлянки, яркие тропические древолазы и т. д. Как видно из названия, земноводные обитают на границе двух сред жизни&nbsp;— наземно-воздушной и водной. Отличительный признак представителей этого класса&nbsp;— голая (без чешуй, перьев, волос) и влажная кожа.</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/21.jpg"><img src="./../../../source/image/xordovye_s_00000238/21.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/22.jpg"><img src="./../../../source/image/xordovye_s_00000238/22.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/23.jpg"><img src="./../../../source/image/xordovye_s_00000238/23.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/24.jpg"><img src="./../../../source/image/xordovye_s_00000238/24.jpg" width='560' height='420'></a></div></div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Пресмыкающиеся</strong>. К этому классу учёные относят ящериц и змей, а также морских, пресноводных и сухопутных черепах, хамелеонов и крокодилов. В отличие от земноводных, кожа пресмыкающихся сухая и покрыта чешуями или роговыми щитками.</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/31.jpg"><img src="./../../../source/image/xordovye_s_00000238/31.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/32.jpg"><img src="./../../../source/image/xordovye_s_00000238/32.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/33.jpg"><img src="./../../../source/image/xordovye_s_00000238/33.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/34.jpg"><img src="./../../../source/image/xordovye_s_00000238/34.jpg" width='560' height='420'></a></div></div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Птицы</strong>. Представителей этого класса сложно спутать с другими хордовыми. Их кожа покрыта пухом и перьями (или только пухом, например, у пингвинов). Передние конечности превращены в крылья. Челюсти оканчиваются клювом.</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/41.jpg"><img src="./../../../source/image/xordovye_s_00000238/41.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/42.jpg"><img src="./../../../source/image/xordovye_s_00000238/42.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/43.jpg"><img src="./../../../source/image/xordovye_s_00000238/43.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/44.jpg"><img src="./../../../source/image/xordovye_s_00000238/44.jpg" width='560' height='420'></a></div></div>


<div class="text notable" data-note-type="text">
<ul><li><strong>Класс Млекопитающие, или Звери</strong>. Отличительный признак&nbsp;— выкармливание детёнышей молоком, а также наличие волосяного покрова тела (хотя бы частичного). К этому классу относятся и ёж, и белка, и бегемот, и удивительный броненосец... Человек&nbsp;— тоже  представитель класса млекопитающих.</li></ul>
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/51.jpg"><img src="./../../../source/image/xordovye_s_00000238/51.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/52.jpg"><img src="./../../../source/image/xordovye_s_00000238/52.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/53.jpg"><img src="./../../../source/image/xordovye_s_00000238/53.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/xordovye_s_00000238/54.jpg"><img src="./../../../source/image/xordovye_s_00000238/54.jpg" width='560' height='420'></a></div></div>
</body></html>