<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{305}}
	AW__ATTRIBUTE{{title}}{{Экологические факторы}}
-->

<h1>Экологические факторы</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00305/img_9417.jpg"><img src="./../../../source/image/00305/img_9417.jpg" width='560' height='213.197969543'></a></div></div>

<div class="text notable" data-note-type="text">
Солнечный свет, температура, влажность&nbsp;— всё это абиотические факторы среды, которые оказывают огромное воздействие на живые организмы.
</div>
</body></html>