<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{123}}
	AW__ATTRIBUTE{{title}}{{Разрушители органических веществ}}
-->

<h1 class="pclass_1" >Разрушители органических веществ</h1>
<div class="text notable" data-note-type="text">
<ul><li><a class="link_wiki pclass_1" href="!114" data-type="media-object" data-src="./../../../source/${!114}">Организмы-разрушители: бактерии</a></li></ul>
</div>

<div class="text notable" data-note-type="text">
<ul><li><a class="link_wiki pclass_1" href="!115" data-type="media-object" data-src="./../../../source/${!115}">Организмы-разрушители: грибы</a></li></ul>
</div>
</body></html>