<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{292}}
	AW__ATTRIBUTE{{title}}{{Почему дети похожи на родителей}}
-->

<h1>Почему дети похожи на родителей</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00292/ducks1.jpg"><img src="./../../../source/image/00292/ducks1.jpg" width='560' height='228.2'></a></div></div>

<div class="text notable" data-note-type="text">
Наследственность&nbsp;— это свойство организмов передавать потомству свои признаки. В половых клетках родителей находится программа развития будущего зародыша. В ней «записано» всё о признаках будущего организма.
</div>
</body></html>