<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{287}}
	AW__ATTRIBUTE{{title}}{{Живые царства. Грибы}}
-->

<h1>Живые царства. Грибы</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00287/lozhnye_lisichki.jpg"><img src="./../../../source/image/00287/lozhnye_lisichki.jpg" width='560' height='264.532130778'></a></div></div>

<div class="text notable" data-note-type="text">
Грибы&nbsp;— это особое царство живых организмов; они сочетают в себе признаки животных и растений. Тело гриба называется грибница, или мицелий, и представляет собой скопление тонких нитей. У шляпочных грибов на грибнице образуются плодовые тела.
</div>

<div class="text notable" data-note-type="text">
Известно более 100 тыс. видов грибов, среди них есть одноклеточные и многоклеточные. Многие шляпочные грибы человек использует в пищу (белые, подберёзовики, лисички и т. д.).
</div>
</body></html>