<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{283}}
	AW__ATTRIBUTE{{title}}{{Из истории биологии}}
-->

<h1>Из истории биологии</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00283/uchenye_k_par4.jpg"><img src="./../../../source/image/00283/uchenye_k_par4.jpg" width='560' height='120.3125'></a></div></div>

<div class="text notable" data-note-type="text">
Интерес человека к живой природе возник в глубокой древности. Ещё первобытные люди начали собирать сведения о растениях и животных, например, о том, какие растения съедобны, а какие ядовиты.
</div>

<div class="text notable" data-note-type="text">
Шло время, накапливалось всё больше сведений о живом мире нашей планеты: о разнообразии растений и животных, о строении организмов, их происхождении и т. д.
</div>

<div class="text notable" data-note-type="text">
Огромный вклад в развитие биологии внесли такие учёные как Аристотель, У.&nbsp;Гарвей, Р.&nbsp;Гук, К.&nbsp;Линней, Ч.&nbsp;Дарвин и др. О них рассказывается в этом параграфе учебника.
</div>
</body></html>