<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{293}}
	AW__ATTRIBUTE{{title}}{{Нужны все на свете}}
-->

<h1>Нужны все на свете</h1>
<div class="image-block-wrapper"><div class="image-block" id="right"><a class="fancybox" href="./../../../source/image/00293/philippinetarsier.jpg"><img src="./../../../source/image/00293/philippinetarsier.jpg" width='200' height='300'></a></div></div>
<div class="text notable" data-note-type="text">
Все-все, все на свете
-
На свете нужны,
-
И мошки
-
Не меньше нужны,
-
Чем слоны.
-
Нужны все на свете!
-
Нужны все подряд&nbsp;—
-
Кто делает мёд
-
И кто делает яд.
-
Нельзя обойтись
-
Без чудищ нелепых
-
И даже без хищников
-
Злых и свирепых.
-
(Б.&nbsp;Заходер)
</div>


<div class="text notable" data-note-type="text">
Любое живое существо, будь то бактерия, гриб, растение или животное&nbsp;— это неотъемлемая часть природы. Даже мелкие, незаметные и на первый взгляд незначительные существа играют в природе определённую важную роль.
</div>

<div class="text notable" data-note-type="text">
Учёные-экологи выделяют несколько групп живых организмов по функциям, выполняемым ими в природе. Это <strong>организмы-производители</strong> (зелёные растения), <strong>организмы-потребители</strong> (животные, в том числе и человек) и <strong>организмы-разрушители</strong> (бактерии и грибы).
</div>
</body></html>