<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{189}}
	AW__ATTRIBUTE{{title}}{{Природные сообщества}}
-->

<h1 class="pclass_1" >Природные сообщества</h1>
<div class="text notable" data-note-type="text">
Живые организмы, совместно обитающие на определённых участках земной поверхности, образуют <strong>природные сообщества</strong>, в которых они постоянно обмениваются друг с другом веществами и энергией.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_1.jpeg"><img src="./../../../source/image/prirodnye__00000189/27_1.jpeg" width='560' height='420'></a><span>Обитатели моря&nbsp;— дельфины, рыбы, медузы, рачки, водоросли, бактерии и т. д.&nbsp;— пример природного сообщества</span></div></div>



<div class="text notable" data-note-type="text">
Размеры сообществ могут быть различными: капля воды, лужа, озеро, лес, луг, остров, материк и т. д. Более мелкие сообщества входят в состав крупных.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_3.jpg"><img src="./../../../source/image/prirodnye__00000189/27_3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_1.jpg"><img src="./../../../source/image/prirodnye__00000189/27_1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_7.jpg"><img src="./../../../source/image/prirodnye__00000189/27_7.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_9.jpg"><img src="./../../../source/image/prirodnye__00000189/27_9.jpg" width='560' height='420'></a></div></div>



<div class="text notable" data-note-type="text">
Природные сообщества могут создаваться и человеком. Парк, сад, огород, поле&nbsp;— это искусственные сообщества.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_12.jpg"><img src="./../../../source/image/prirodnye__00000189/27_12.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_10.jpg"><img src="./../../../source/image/prirodnye__00000189/27_10.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/prirodnye__00000189/27_13.jpg"><img src="./../../../source/image/prirodnye__00000189/27_13.jpg" width='560' height='420'></a></div></div>
</body></html>