<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{307}}
	AW__ATTRIBUTE{{title}}{{Природные сообщества}}
-->

<h1>Природные сообщества</h1>
<div class="image-block-wrapper"><div class="image-block" id="right"><a class="fancybox" href="./../../../source/image/00307/27_title1.jpg"><img src="./../../../source/image/00307/27_title1.jpg" width='280' height='223.552894212'></a></div></div>
<div class="text notable" data-note-type="text">
Живые организмы, совместно обитающие на определённых участках земной поверхности и связанные между собой различными взаимоотношениями, образуют природные сообщества. Организмы, составляющие природное сообщество, связаны также с объектами неживой природы. Вместе с ними они образуют экосистемы.
</div>

<div class="image-block-wrapper"><div class="image-block" id="right"><a class="fancybox" href="./../../../source/image/00307/27_title3.jpg"><img src="./../../../source/image/00307/27_title3.jpg" width='280' height='210'></a></div></div> В любой экосистеме выделяют три группы организмов по типу питания.

<div class="image-block-wrapper"><div class="image-block" id="right"><a class="fancybox" href="./../../../source/image/00307/27_title2.jpg"><img src="./../../../source/image/00307/27_title2.jpg" width='280' height='224'></a></div></div> В результате деятельности этих трех групп организмов происходит круговорот веществ: растения производят органические вещества, животные их потребляют, а бактерии и грибы разлагают органические остатки до неорганических, делая их доступными для минерального питания растений. Таким образом, основа круговорота веществ&nbsp;— это пищевые связи.
</body></html>