<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- общие стили книги -->
    <link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css">
    <link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css">
    <link rel="stylesheet" href="./../../../core/style/_book.css">
    <link rel="stylesheet" href="./../../../core/style/_book_color.css">
    <link rel="stylesheet" href="./../../../core/style/_custom-book.css">
    <link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css">
    <script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script>
    <script src="./../../../core/static/js/jquery.fancybox.js"></script>
    <script src="./../../../core/scripts/fancyBoxInit.js"></script>
</head>
<body><!--
	AW__ATTRIBUTE{{id}}{{281}}
	AW__ATTRIBUTE{{title}}{{Мир биологии}}
-->

<h1>Мир биологии</h1>

<div class="image-block-wrapper">
    <div class="image-block" id="center"><a class="fancybox"
                                            href="./../../../source/image/00281/glava1_kartinka.jpg"><img
            src="./../../../source/image/00281/glava1_kartinka.jpg" width='560' height='262.5'></a></div>
</div>
</body>
</html>