<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{255}}
	AW__ATTRIBUTE{{title}}{{Экосистемы}}
-->

<h1 class="pclass_1" >Экосистемы</h1>
<div class="text notable" data-note-type="text">
Природные сообщества тесно связаны с неживой природой (почвой, водой, атмосферным воздухом и т. д.) и оказывают на неё определённое воздействие.
</div>

<div class="text notable" data-note-type="text">
Природные сообщества вместе с объектами неживой природы образуют <strong>экосистемы</strong>, где, при участии трёх групп организмов&nbsp;— производителей, потребителей и разрушителей&nbsp;— происходит круговорот веществ.
</div>

<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/ekosistemy_00000255/27.jpeg"><img src="./../../../source/image/ekosistemy_00000255/27.jpeg" width='560' height='420'></a></div></div>
</body></html>