<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{236}}
	AW__ATTRIBUTE{{title}}{{Моллюски}}
-->

<h1 class="pclass_1" >Моллюски</h1>
<div class="text notable" data-note-type="text">
Моллюски&nbsp;— один из типов царства животных. Моллюски обитают на суше и в водоёмах: прудах, озёрах, реках, морях и океанах. Многие моллюски имеют прочную наружную раковину, защищающую мягкое тело этих животных. Раковина может быть спирально закрученной (как у виноградной улитки) или состоять из двух половинок (как у беззубки). Некоторые виды раковины лишены (например, обыкновенный слизень). К моллюскам относятся также кальмары и осьминоги.
</div>


<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/molljuski__00000236/1.jpg"><img src="./../../../source/image/molljuski__00000236/1.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/molljuski__00000236/2.jpg"><img src="./../../../source/image/molljuski__00000236/2.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/molljuski__00000236/3.jpg"><img src="./../../../source/image/molljuski__00000236/3.jpg" width='560' height='420'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/molljuski__00000236/4.jpg"><img src="./../../../source/image/molljuski__00000236/4.jpg" width='560' height='420'></a></div></div>
</body></html>