<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{297}}
	AW__ATTRIBUTE{{title}}{{Биология и здоровье}}
-->

<h1>Биология и здоровье</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00297/athletics-coaching.jpg"><img src="./../../../source/image/00297/athletics-coaching.jpg" width='560' height='270.531400966'></a></div></div>

<div class="text notable" data-note-type="text">
Знания о строении и жизнедеятельности нашего организма&nbsp;— ключ к здоровому образу жизни.
</div>
</body></html>