<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{304}}
	AW__ATTRIBUTE{{title}}{{Кто живёт в чужих телах}}
-->

<h1>Кто живёт в чужих телах</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00304/trutovik.jpg"><img src="./../../../source/image/00304/trutovik.jpg" width='560' height='296.1'></a></div></div>

<div class="text notable" data-note-type="text">
Среда обитания внутри организма отличается от внешней среды постоянством условий жизни, обилием пищи, защищённостью от внешних воздействий. Организмы, ведущие паразитический образ жизни, имеют упрощённое строение.
</div>
</body></html>