<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{290}}
	AW__ATTRIBUTE{{title}}{{Жизнь начинается}}
-->

<h1>Жизнь начинается</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00290/spawn.jpg"><img src="./../../../source/image/00290/spawn.jpg" width='560' height='201.6'></a></div></div>

<div class="text notable" data-note-type="text">
Вы уже знаете, что из семени вырастает растение, из яйца появляется птенец, а у кошки рождаются котята.
</div>

<div class="text notable" data-note-type="text">
Начало новому организму дают особые половые клетки. Они бывают женскими и мужскими. После их слияния начинается развитие нового организма.
</div>
</body></html>