<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{296}}
	AW__ATTRIBUTE{{title}}{{Биологи защищают природу}}
-->

<h1>Биологи защищают природу</h1>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/00296/ao.jpg"><img src="./../../../source/image/00296/ao.jpg" width='560' height='296.423462089'></a></div></div>

<div class="text notable" data-note-type="text">
Многие виды живых организмов исчезли с лица Земли по вине людей, а многие  находятся на грани вымирания. Во многих странах есть законы, обеспечивающие защиту этим видам: например, запрет на охоту, ограничение освоения земель или создание охраняемых территорий.
</div>
</body></html>