<html><head><meta http-equiv="content-type" content="text/html; charset=UTF-8"><!-- общие стили книги --><link rel="stylesheet" href="./../../../core/style/mode.one-page-landscape.css"><link rel="stylesheet" href="./../../../core/style/mode.one-page-portrait.css"><link rel="stylesheet" href="./../../../core/style/_book.css"><link rel="stylesheet" href="./../../../core/style/_book_color.css"><link rel="stylesheet" href="./../../../core/style/_custom-book.css"><link rel="stylesheet" href="./../../../core/style/lib/jquery.fancybox.css"><script src="./../../../core/static/js/libs/jquery-1.9.1.min.js"></script><script src="./../../../core/static/js/jquery.fancybox.js"></script><script src="./../../../core/scripts/fancyBoxInit.js"></script></head><body><!--
	AW__ATTRIBUTE{{id}}{{227}}
	AW__ATTRIBUTE{{title}}{{Цветковые}}
-->

<h1 class="pclass_1" >Цветковые</h1>
<div class="text notable" data-note-type="text">
Цветковые&nbsp;— один из отделов царства растений. Все растения из этого отдела имеют цветки: одни&nbsp;— крупные, яркие и душистые, другие&nbsp;— мелкие, невзрачные и без запаха. После цветения на месте цветков образуются плоды и семена.
</div>



<div class="sub-paragraph notable" data-note-type="text">Цветковые растения</div>




<div class="images-box"><div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/1.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/1.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/2.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/2.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/3.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/3.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/4.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/4.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/5.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/5.jpeg" width='306.666666667' height='230'></a></div></div>
<div class="image-block-wrapper"><div class="image-block" id="center"><a class="fancybox" href="./../../../source/image/tsvetkovye_00000227/6.jpeg"><img src="./../../../source/image/tsvetkovye_00000227/6.jpeg" width='306.666666667' height='230'></a></div></div></div>

</body></html>